{#
/**
 * Sparta Layout
 * Generated on: Mon, 13 Jan 14 21:26:08 +0100
 */
#}
<div{{ attributes }}>
  {{ messages }}
  {% if header__regions.active == true %}
  <header{{ header__attributes }}>
    <div class="regions">
      {{ page.header_first }}
      {{ page.header_second }}
    </div>
  </header>
  {% endif %}
  {% if menubar__regions.active == true %}
  <div{{ menubar__attributes }}>
    <div class="regions">
      {{ page.menubar }}
    </div>
  </div>
  {% endif %}
  {% if messages__regions.active == true %}
  <div{{ messages__attributes }}>
    <div class="regions">
      {{ page.messages }}
    </div>
  </div>
  {% endif %}
  {% if main__regions.active == true %}
  <div{{ main__attributes }}>
    <div class="regions">
      {{ page.highlighted }}
      {{ page.content }}
      {{ page.sidebar_first }}
      {{ page.sidebar_second }}
    </div>
  </div>
  {% endif %}
  {% if footer__regions.active == true %}
  <footer{{ footer__attributes }}>
    <div class="regions">
      {{ page.footer }}
    </div>
  </footer>
  {% endif %}
</div>