{#
/**
 * @file
 * Prius's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.featured: Items for the featured region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.triptych_first: Items for the first triptych.
 * - page.triptych_middle: Items for the middle triptych.
 * - page.triptych_last: Items for the last triptych.
 * - page.footer_firstcolumn: Items for the first footer column.
 * - page.footer_secondcolumn: Items for the second footer column.
 * - page.footer_thirdcolumn: Items for the third footer column.
 * - page.footer_fourthcolumn: Items for the fourth footer column.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see prius_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<!--ol
  {% for key, value in node  %}
    <li>{{ key }}</li>
  {% endfor %}
</ol-->

<div class="container">

  <header id="header">
    <div class="logo">
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
      </a>
    </div>

    {% if main_menu %}
      <nav id ="main-menu" class="navigation" role="navigation">
        {{ main_menu }}
      </nav>
    {% endif %}
  </header>

  <div id="main-wrapper">

    <div id="mobile-container">
      <a id="mobile-nav" href="#mobile-nav">
        <i class="fa fa-2"></i>
      </a>
      <a id="mobile-logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" ></a>
    </div>

    <main id="main" role="main">

      <div id="content-wrapper">

        {{ messages }}

        {% if title %}
          <h1 class="title" id="page-title">
            {{ title }}
          </h1>
        {% endif %}

        {{ tabs }}

        {% if action_links %}
          <nav class="action-links">{{ action_links }}</nav>
        {% endif %}

        <div id="page-content">
          {{ page.content }}
        </div>

        <aside id="aside_right">
          {{ page.aside_right }}
        </aside>


      </div>

    </main>

    <div class="map">

      <div id="london-map" class="london-map">
      </div>

      <div class="contact">

        <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <g>
            <path fill="#241F55" d="M0.389,49.768c0-27.29,22.093-49.433,49.343-49.433c27.254,0,49.353,22.143,49.353,49.433
              c0,27.273-22.099,49.424-49.353,49.424C22.482,99.189,0.389,77.039,0.389,49.768z"/>
            <path fill="#0DB14B" d="M18.171,63.712c0-7.495,6.073-13.567,13.548-13.567c7.485,0,13.538,6.072,13.538,13.567
              c0,7.481-6.053,13.555-13.538,13.555C24.247,77.267,18.171,71.193,18.171,63.712z"/>
          </g>
        </svg>

        <div class="london-contact">
          <h6>London</h6>
          <p><a href="mailto:info@mariquecalcus.com">info@mariquecalcus.com</a></p>
        </div>

        <div class="charleroi-contact">
          <h6>Charleroi</h6>
          <p><a href="mailto:info@mariquecalcus.be">info@mariquecalcus.be</a></p>
        </div>
      </div>

      <div id="charleroi-map" class="charleroi-map">
      </div>

    </div>

    <footer id="footer" class="footer">

      <div id="footer-top">
        <div class="slogan">
          We'd love to hear from you.
        </div>
        <div class="calltoaction">
          <a href="/contact">Contact</a>
        </div>
      </div>

      <div id="footer-center">
        <div class="contact">
          <h3>Contact</h3>
          <ul>
            <li class="first">info@mariquecalcus.com</li>
          </ul>
        </div>
        <div class="navigation">
          <h3>Navigate</h3>
          <ul>
            <li class="first"><a href="/about">About us</a></li>
            <li class=""><a href="/services">Services</a></li>
            <li class=""><a href="/blogs">Blogs</a></li>
            <li class="last"><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="legal">
          <h3>Legal stuff</h3>
          <ul>
            <li class="first"><a href="/legal/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="logo">
          <img src="/themes/mariquecalcus/images/logos/logo_medium.svg" alt="" />
        </div>
      </div>

      <div id="footer-bottom">
        <div class="copyright">
          Copyright {{ "now"|date("Y") }} by Mariquecalcus. All rights reserved.
        </div>
        <div class="social">
          <ul>
            <li><a href="https://www.facebook.com" alt="Friend us on Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com" alt="Follow us on Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://twitter.com" alt="Follow us on Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com" alt="Network with us on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

    </footer>

  </div>

</div>

<!-- Current Page Scripts -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/themes/mariquecalcus/js/vendor/jquery.gmap.js"></script>
<script src="/themes/mariquecalcus/js/gmap.js"></script>
