{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.profiler", {token: token}, {fragment: 'database'}) }}">
        <img width="20" height="28" alt="Database"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC"/>
        <span class="sf-toolbar-info-piece-additional sf-toolbar-status sf-toolbar-status-{{ collector.colorCode }}">{{ collector.querycount }}</span>
        {% if collector.querycount > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f ms'|format(collector.time * 1000) }}</span>
        {% endif %}
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'DB Queries'|t }}</b>
        <span>{{ collector.querycount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Query time'|t }}</b>
        <span>{{ '%0.2f ms'|format(collector.time * 1000) }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Default database'|t }}</b>
        <span>{{ collector.database.driver }}://{{ collector.database.host }}:{{ collector.database.port }}
            /{{ collector.database.database }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <div class="title">
        <h2>{{ 'Database'|t }}</h2>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <script type="text/template" id="wp-query-explain-template">
        <table>
            <thead>
            <tr>
                <% _.each(rc.data[1], function(value, key, list) { %>
                <th><%= key %></th>
                <% }); %>
            </tr>
            </thead>
            <% _.each(rc.data, function(value) { %>
            <tr>
                <% _.each(value, function(value2, key, list) { %>
                <td><%= value2 %></td>
                <% }); %>
            </tr>
            <% }); %>
        </table>
    </script>
{% endblock %}
