{% block toolbar %}
    {# PHP Information #}
    {% set icon %}
    <a href="{{ url("webprofiler.profiler", {token: token}, {fragment: 'php_config'}) }}">
        <img width="26" height="28" alt="PHP"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAcCAMAAAC5xgRsAAAAZlBMVEX///////////////////////////////////////////////////////////////////////////////////////////+ZmZmZmZlISEhJSUmdnZ1HR0fR0dFZWVlpaWlfX18/Pz+puygPAAAAIXRSTlMACwwlJygpLzIzNjs8QEtMUmd6e32AucDBw8fIydTm6u5l8MjvAAAAo0lEQVR42r2P2Q6CMBBFL6XsZRGRfZv//0nbDBNEE19MnJeTc5ILKf58ahiUwzy/AJpIWwREwQnEXRdbGCLjrO+djWRvVMiJcigxB7viGogxDdJpSmHEmCVPS7YczJvgUu+CS30IvtbNYZMvsGVo2mVpG/kbm4auiCpdcC3YPCAhSpAdUzaAn6qPKZtUT6ZSzb4bi2hdo9MQ1nX4ASjfV+/4/Z40pyCHrNTbIgAAAABJRU5ErkJggg==">
    </a>
    {% endset %}
    {% set text %}
    {% spaceless %}
        <div class="sf-toolbar-info-piece sf-toolbar-info-php">
            <b>PHP</b>
            <span><a href="{{ url("system.php") }}">{{ collector.phpversion }}</a></span>
        </div>
        <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
            <b>{{ 'PHP Extensions'|t }}</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasxdebug ? 'green' : 'red' }}">xdebug</span>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasaccelerator ? 'green' : 'red' }}">accel</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>{{ 'PHP SAPI'|t }}</b>
            <span>{{ collector.sapiName }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Token</b>
            <span>{{ token }}</span>
        </div>
    {% endspaceless %}
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <div class="title">
        <h2>{{ 'PHP config'|t }}</h2>
    </div>

    <div class="content">
        {{ content }}
    </div>
{% endblock %}
