<div id="resume">
    <strong>{{ 'Profile for'|t }}:</strong>
    {{ profile.method|upper }}
    {% if profile.method|upper in ['GET', 'HEAD'] %}
        <a href="{{ profile.url }}">{{ profile.url }}</a>
    {% else %}
        {{ profile.url }}
    {% endif %}
    <span class="date">
                <em>by {{ profile.ip }}</em> at <em>{{ profile.time|date('r') }}</em>
            </span>

    (<a id="resume-view-all" href="{{ url("webprofiler.admin_list") }}">{{ 'View last 10'|t }}</a>)
</div>
