<div class="wp-query wp-query-{{ query_type }}" data-wp-query-caller="{{ query.caller.class|replace({'\\': '_'}) }}" data-wp-query-type="{{ query_type }}">
    {{ query.query }}
    <div class="wp-query-info">
        <span class="wp-query-info-button">Info</span>

        <div class="wp-query-data">
            {{ table }}

            <h4>{{ 'Time'|t }}</h4>

            <p>{{ '%0.4f ms'|format(query.time * 1000) }}</p>

            <h4>{{ 'Caller'|t }}</h4>

            <p>{{ query.caller.file }}:{{ query.caller.line }}</p>

            {% if explain %}
                <h4>{{ 'Explain'|t }}</h4>

                <div class="wp-query-explain-wrapper">
                    <span class="button wp-query-explain-button" data-wp-query-position="{{ position }}">Show explain</span>
                </div>
            {% endif %}
        </div>

    </div>
</div>
